services:
  scale-lab-cache:
    image: redis:7-alpine
    container_name: scale-lab-cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped

  scale-lab-db:
    image: postgres:16-alpine
    container_name: scale-lab-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: shortener_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts/postgresql.sql:/docker-entrypoint-initdb.d/postgresql.sql
      - ./init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh
    restart: unless-stopped

  clickhouse-server:
    image: clickhouse/clickhouse-server:23.8
    container_name: clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - clickhouse_data:/var/lib/clickhouse
      - ./scripts/clickhouse.sql:/scripts/clickhouse.sql
      - ./init-clickhouse.sh:/docker-entrypoint-initdb.d/init-clickhouse.sh
    environment:
      CLICKHOUSE_DB: analytics_db
      CLICKHOUSE_USER: admin
      CLICKHOUSE_PASSWORD: password123
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:4.0-management
    container_name: rabbutmq
    ports:
      - "5672:5672" # AMQP Protocol
      - "15672:15672" # Dashboard
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    environment:
       RABBITMQ_DEFAULT_USER: admin
       RABBITMQ_DEFAULT_PASS: password123
    restart: unless-stopped  

  
volumes:
  redis_data:
  postgres_data:
  clickhouse_data:
  rabbitmq_data:
